
*,
*::before,
*::after { 
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: 'Titillium Web', sans-serif;
}
.errormessage{
text-align: center;
margin: 100px 0;
font-weight: 300;
color: rgb(61, 78, 56);
font-size: 20px;
}


main {
  display: flex;
}
.topBarHomePage{
display: flex;
justify-content: flex-end;  
text-align: center;
margin-bottom: 5px;
padding-top: 20px;
vertical-align: middle;
gap: 15px;
border-radius: 25px;
}
.titleTopBar{
  text-decoration: none;
  color: #F0FDF0;
  
}
.linktitle{
  text-decoration:none;
}
.bg-green {
  color: #fff;
  background: -webkit-linear-gradient(110deg, #739A77 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #68EDCB 10%, #29A89E 70%);
  background: -o-linear-gradient(110deg, #739A77 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #68EDCB 10%, #29A89E 70%);
  background: -moz-linear-gradient(110deg, #739A77 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #68EDCB 70%, #29A89E 70%);
  background: linear-gradient(110deg, #739A77 10%, rgba(255, 18, 18, 0) 40%), radial-gradient(farthest-corner at 0% 0%, #68EDCB 50%, #8FE79B 70%);
}
.greeting{
  align-self: center;
  border: 1px;
  border-color: #8fe79b;
  border-radius: 5px;
  margin-right: -20px;
  margin-left: 40px;
}
  

aside {
  background-color: #52b46b;
  border-radius: 10px;
  width: 18.75rem;
  height: 100vh;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.postCards{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.postItem:hover{
  outline: none;
  box-shadow: 2px 3px 9px 0px rgba(164, 170, 163, 0.63);
  border-radius: 20px;
  }

.postItem {
  display: flex;
  padding: 1rem;
}


.containerItemDetail {
  display: flex;
  padding: 1rem ;
  position: relative;
width: 50%;
left: 25%;
}
.titlePostDetail{

  width:calc(100% / 3 )
}
.containerInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  
}
.containerInfo.table h3{
margin-bottom: 0;
font-size: 14px;
}
.description{
  background-color: #8fe79b;
  border-radius: 15px;
  padding: 0 15px;
  margin-bottom: 30px;
}

.description h3{
  margin: 0;
  margin-top: 10px;
}

.description p{
  margin-top: 5px;
}

.containerInfo.table p{
margin-top: 0;
color: #273329;
font-size: 22px;
}
.delete{ 
  color: red;
}


.containerInfo.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 30px;
}
.containerProfile{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap:wrap;
  gap: 40px;
}
.itemProfile{
  background-color: #a3d39b;
  text-decoration: none;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  border-radius: 10px;
  padding: 6px 20px;
}
.itemProfile h3{
  text-align: center;
  background-color: #29A89E;
  border-radius: 5px;
}
@media screen and (max-width:45rem){
  .containerItemDetail{
  width: 100%;
  left: 0%;
  }
  .relatedPostItem{
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 40rem) {
  .postItem {
    width: 50%;
  }

}
@media screen and (min-width: 56rem){
  .postItem {
    width: 25%;
  }
}
.pricenAndLike{
  display: flex;
  flex-direction: row;
}

.post {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px;
  margin: 5px;
}
.relatedPostItem{
  background-color: white;
  border-radius: 0.55rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: row;
}

.imgPost{
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.postTitle {
  color: #273329;
  font-size: 20px;
  font-weight: 200px;
  
}

.postPrice {
  color: green;
  flex: 1 1 auto;
  font-size: 1.475rem;
}
.postContent{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 10px 25px 25px;

}

.postContent .related {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0px 25px 0px;
}
.form{
  display: flex;
  flex-direction: column;
  margin: 0 61px;
}

textarea{
border:none;
padding: 10px;
font-size: 20px;
color: rgb(40, 92, 25);
border-radius: 10px;
background-color: rgb(100, 204, 100);
transition: all 0.1s;
}

select {
border:none;
padding: 10px;
font-size: 20px;
color: rgb(40, 92, 25);
border-radius: 10px;
background-color: rgb(100, 204, 100);
transition: all 0.1s;
}
.form input{
border:none;
padding: 10px;
font-size: 19px;
color: rgb(40, 92, 25);
border-radius: 10px;
background-color: rgb(100, 204, 100);
transition: all 0.5s;

}
.form input:focus {
  outline: none;
  box-shadow: 2px 4px 9px 0px rgb(23 53 15 / 63%);
}
button.logInButton{
  margin: 30px 0;
}
.postAdress{
  color: #797979;
  margin-top: -15px;
}

.container-navbar{
  margin: 4.5rem 1.4rem;
}
.navbar{
  position: fixed;
}

.btn-container {
  position: fixed;
}
.formAgrup{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container-navbar a {
  color: #f9fafb;
  text-decoration: none;
  font-size: 1.75rem;
  font-weight: 600;
  display: block;
  margin: 8px;
}

button {
  cursor: pointer;
  margin: 1.25rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #b6e998;
  border-radius: 10px;
  border-style:hidden;
}
button:hover{
  background-color: #a1cf86;
}

.searchButtons{
  margin: 0.25em;
}
.searchButtons:focus{
  background-color: #739A77;
}

.loginButton{
  align-items: center;
  margin-top: 32px;
}


.linksProfile{
  text-decoration: none;
  color: black;
}
.linksProfile:hover{
color: #00A5D9;
}
 .liked {
  background-color: #273329;
}
.bigcontainer{
  display: flex;
  flex-direction: column;
}